.popularaccordian{
    position: relative;
top: 200px;
width: 300px; /* You can adjust the width value as needed */

} 


/* Custom CSS to change checkbox border color */
.form-check-input[type="checkbox"] {
  border-color: rgb(139, 139, 139); /* Change this to your desired border color */
}

/* Custom CSS to change the border color of checked checkboxes */
.form-check-input[type="checkbox"]:checked {
  border-color: green; /* Change this to your desired border color for checked checkboxes */
}

.accordscontain{
  z-index: 9999;
}

.accordianTitle{

  font-weight: bolder;
  color: rgb(44, 44, 44);
  font-size: 1.6rem;
  margin-left: 1rem; /* Ensure space between title and link */
  position: relative;
  top: 160px;
  z-index: 2;
}

/* Add this custom CSS to your stylesheet or component styles */
.accordion-button:focus {
  background-color: transparent !important; /* Set the background color to transparent */
  outline: none !important;; /* Remove the outline that appears by default */
  box-shadow: none !important;; /* Remove any box-shadow that appears by default */
}

/* Add this custom CSS to your stylesheet or component styles */
.accordion-button:not(.collapsed) {
  background-color: transparent !important; /* Set the background color to transparent */
}

#checkbox-all-productType + .form-check-label {
  margin-bottom: 10px;  /* Adjust value as needed */
}

#checkbox-all-demographic + .form-check-label {
  margin-bottom: 10px;  /* Adjust value as needed */
}
