.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; /* allow items to wrap to next line */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin-bottom: 20px; /* provide some space between stacked columns */
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-item {
    margin-bottom: 5px;
}

.subscribe-input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: rgb(218, 215, 215);
}

.subscribe-button {
    padding: 10px 5px;
    border: none;
    background-color: rgb(156, 156, 156);
    color: #333;
    cursor: pointer;
    margin-top: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* stack the items vertically */
        align-items: center; /* center align the stacked columns */
    }

    .footer-column {
        width: 100%; /* take up full width */
        text-align: center; /* center the text */
        margin-bottom: 15px; /* provide some space between stacked columns */
    }
}
