.popular-releases-container {
  margin-top: 80px;
  margin-bottom: 130px;

}


.sneaker-cards {
  row-gap: 0.5rem; /* Reduced vertical spacing between rows */
  height: auto;
}

.popularcard {
  margin: 0 auto; /* Centering cards horizontally */
}


.popularcard-body h5 {
  font-size: 1rem;
  font-weight: bold;
}
.popularReleasesTitle{
font-weight: bolder;
color: rgb(44, 44, 44);
font-size: 1.5rem;
margin-left: 1rem; /* Ensure space between title and link */

}

.viewa{
text-decoration: none;
color: rgb(58, 58, 58);
font-size: 18px;
}


.newarrivalcards {
  color: black;
  display: flex; /* ensure the card content is centered */
  flex-direction: column; /* stack child elements vertically */
  justify-content: center; /* center child elements vertically */
  align-items: center; /* center child elements horizontally */
  margin-right: 20px;
}
.card-img-top {
  width: 100%; /* take the full width of the parent */
  height: 100%; /* take the full height of the parent */
  object-fit: contain; /* ensures that the image is scaled to be as large as possible while ensuring both its dimensions are less than or equal to the dimensions of the box */
  display: block; /* remove any unwanted white space */
}

@media (min-width: 700px) {

.cardimg {
  height: 250px; /* Fixed height for images. You can adjust as needed */

} }
