@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  font-family: Roboto, sans-serif;
}
/* The backdrop overlay */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent gray */
}

.offcanvas-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030; /* Ensure it's below the offcanvas but above everything else */
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent gray */
}


.badge{
cursor: pointer;

}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.14rem;
}

.cart-subtotal{
  font-size: 16px;
}

.navbar-nav .nav-item {
  position: relative;
}


.navbar-nav .nav-link {
  position: relative;
}


.carticon {
  color: black;
}

.bi-bag,
.bi-search {
  cursor: pointer;
  font-size: 1.5rem;
  float: right;
  margin-right: 2%;
}
.bi-bag {
  position: relative;
  left: -1%;
}

.search-icon {
  position: relative;
  left: -1.5%;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar-brand {
  margin-left: 2%;
}

.searchalert{
  position: relative;
  top: 60px;
  height: 50px;
}

.smallsearch{
  cursor: pointer;
}
@media (max-width: 992px) {
  .navbar-brand {
    margin-left: 10%;
  }
  .nav-item {
    font-size: 1rem;
  }
}
@media (min-width: 993px) {

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.12rem;
  background-color: black;
  bottom: -1px;
  left: 0;
  transition: width 0.5s ease;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}}
