.releasecards {
  margin-top: 140px;
  margin-bottom: 100px;
  
}

/* // dont forge acc */

/* CSS */
.card-img-custom {
  height: 180px; /* Adjust the height value as needed to make the image longer */
  width: auto;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.paginationbar {
  position: relative;
}

.sneaker-name {
  font-size: 18px;  /* Adjust as needed to fit the text on one line */
  color: black;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .releasecards {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .card-img-custom {
    height: 180px; /* Adjust the height value as needed to make the image longer */
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}

@media (max-width: 767.98px) {
  .releasecards {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .card-img-custom {
    height: 135px; /* Adjust the height value as needed to make the image longer */
  }

  .releasecard {
    margin-top: 50px;
  }
}
